

<h1>ABOUT</h1> 


<h2>Members</h2>
<table>
  <tbody>
    <tr>
      <td>Jetsada</td>
      <td>Yotawong</td>
      <td>5510520173</td>
    </tr>
    <tr>
      <td>Puttiwat</td>
      <td>Poonupa</td>
      <td>5510520199</td>
    </tr>
    <tr>
      <td>Satapana</td>
      <td>Intaraporm</td>
      <td>5510613200</td>
    </tr>
    <tr>
      <td>Chanatip</td>
      <td>Thongaunruan</td>
      <td>5510613341</td>
    </tr>
    <tr>
      <td>Phuwanart</td>
      <td>Chotikanjana</td>
      <td>5510613374</td>
    </tr>
    <tr>
      <td>Korrakod</td>
      <td>Maikate</td>
      <td>5510613465</td>
    </tr>
  </tbody>
</table>
<h2>Requirements</h2>
ต้องเพิ่มรายวิชาได้
<br>
  ต้องลบรายวิชาได้
  <br>
    ต้องจัดการ/แก้ไขข้อมูลรายวิชาได้
    <br>
      ต้องเพิ่มข้อมูลอาจารย์ผู้สอนได้
      <br>
        ต้องลบข้อมูลอาจารย์ผู้สอนได้
        <br>
          ต้องจัดการ/แก้ไขข้อมูลอาจารย์ผู้สอนได้
          <br>
            ข้อมูลรายวิชามี รหัสวิชา ชื่อวิชา ชื่ออาจารย์ที่สอน ภาคเรียนที่เท่าไร ปีการศึกษาใด วัน-เวลาที่สอบ
            <br>
              ข้อมูลอาจารย์ผู้สอนต้องมี ชื่ออาจารย์ คณะใด ภาควิชาใด
              <br>
                สามารถแสดงข้อมูลการเรียนเป็นตารางโดยมีวิชาและห้องเรียน
</br>
<div>
  <h2>Features</h2>
  <ol>
    <li>
      As a registrar staff
      <br/>
      I want to add a lecturer to Course Management database
    </li>
    <li>
      As a registrar staff
      <br/>
      I want to edit a lecturer from Course Management database
    </li>
    <li>
      As a registrar staff
      <br/>
      I want to remove a lecturer from Course Management database
    </li>
    <li>
      As a registrar staff
      <br/>
      I want to add a course to Course Management database
    </li>
    <li>
      As a registrar staff
      <br/>
      I want to edit a course from Course Management database
    </li>
    <li>
      As a registrar staff
      <br/>
      I want to remove a course from Course Management database
    </li>
  </ol>
</div>
<div>
  <h1>ER-Diagram</h1>
  
  <img src="/assets/ER-V1.JPG" width="971" height="366" alt="Edit Entry" />
</div>
<div>
  <%= link_to "Pivotal Tracker", "https://www.pivotaltracker.com/n/projects/1300664" %>
  <%= link_to "Github", "https://github.com/kaitookita/term-project" %>
</div>
<div>
  <h1>Lo-fi Mockups & Storyboards</h1>
  <img src="/assets/Storyboard.jpg" width="960" height="540" alt="Edit Entry" />
</div>
<%= link_to 'Back', root_path %>
