<div>
  <h1>ER-Diagram</h1>
  
  <img src="/assets/ER-V1.JPG" width="971" height="366" alt="Edit Entry" />
</div>
<div>
  <%= link_to "Pivotal Tracker", "https://www.pivotaltracker.com/n/projects/1300664" %>
  <%= link_to "Github", "https://github.com/kaitookita/term-project" %>
</div>