<div>
  <h2>Features</h2>
  <ol>
    <li>
      As a registrar staff
      <br/>
      I want to add a lecturer to Course Management database
    </li>
    <li>
      As a registrar staff
      <br/>
      I want to edit a lecturer from Course Management database
    </li>
    <li>
      As a registrar staff
      <br/>
      I want to remove a lecturer from Course Management database
    </li>
    <li>
      As a registrar staff
      <br/>
      I want to add a course to Course Management database
    </li>
    <li>
      As a registrar staff
      <br/>
      I want to edit a course from Course Management database
    </li>
    <li>
      As a registrar staff
      <br/>
      I want to remove a course from Course Management database
    </li>
  </ol>
</div>
<div>