<div>
  <ol>
<h2>Requirements</h2>
ต้องเพิ่มรายวิชาได้
<br>
  ต้องลบรายวิชาได้
  <br>
    ต้องจัดการ/แก้ไขข้อมูลรายวิชาได้
    <br>
      ต้องเพิ่มข้อมูลอาจารย์ผู้สอนได้
      <br>
        ต้องลบข้อมูลอาจารย์ผู้สอนได้
        <br>
          ต้องจัดการ/แก้ไขข้อมูลอาจารย์ผู้สอนได้
          <br>
            ข้อมูลรายวิชามี รหัสวิชา ชื่อวิชา ชื่ออาจารย์ที่สอน ภาคเรียนที่เท่าไร ปีการศึกษาใด วัน-เวลาที่สอบ
            <br>
              ข้อมูลอาจารย์ผู้สอนต้องมี ชื่ออาจารย์ คณะใด ภาควิชาใด
              <br>
                สามารถแสดงข้อมูลการเรียนเป็นตารางโดยมีวิชาและห้องเรียน
</br>
</ol>
</div>